.awesome{
  width: 100%;
  margin: auto;
}


/*container1*/

.awesome_titel{
  display: flex ;
  align-items: center;
  flex-direction: column;
  
}



.awesome_header {
  font-family: "Raleway" , sans-serif;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 25px;
}




.awesome_header::after{
content: "";
width: 64px;
height: 2px;
background-color: #D98943;
display: block;
margin: auto;
margin-top: 25px;

}
  
.awesome_text {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #4d505c;
  margin-bottom: 67px;
}

/*flex-container*/

.flex-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
   align-items: center;
  padding-bottom: 109px;
  
  }

  .flex-container_sect{
    width: 32%;
  }
 
  

/*img*/

  .flex_item_img{
  border: 1px solid #d98943;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  
  }

 
/*header*/

.flex_item_header {
 
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

/*TEXT*/

.flex_item_text{
  font-size: 14px;


  

