.axit {
  width: 100%;
  margin: auto;
}

/*HEADER*/

.axit_header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: black;
}

.axit_header_logo {
  display: inline-block;
  text-transform: uppercase;
  font-size: 30px;
  margin-left: 110px;
  color: white;
}

.logo {
  color: #ec7979;
}

.axit_header_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
}
.axit_header_nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 50px;
}
.menu_link {
  display: inline-block;
  margin-left: 50px;
  color: white;
  /*width: 100%;*/
  text-transform: capitalize;
}

.menu_link {
  color: white;
}

.menu_link::after {
  content: '';
  display: block;
  border-bottom: 2px solid blue;
  width: 0%;
  transition: width 0.7s;
}

.menu_link:hover:after {
  width: 100%;
}
/*MAIN*/

.axit_main {
  background-image: url('/img/background-1\ 1.png');
  background-color: tomato;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-size: cover;
  margin: auto;
  position: relative;
  padding-bottom: 120px;
}

.axit_main::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.axit_main_sacion_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 111px;
}

.axit_main_sacion_header_artical {
  font-family: 'Roboto' sans-serif;
  font-size: 3, 75rem;
  color: white;
  text-transform: uppercase;
  margin: 109px 0px 34px;
  position: relative;
  z-index: 1;
}

.artical_color {
  color: #ec7979;
}

.axit_main_sacion_div_subartical {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 71px;
  position: relative;
  z-index: 1;
}

.axit_main_sacion_div_text {
  font-family: 14px;
  color: white;
  margin-bottom: 50px;
}

.axit_main_sacion_bottom_item {
  font-family: 'Open Sans' sans-serif;
  font-size: 15px;
  color: white;
  border: 1px solid white;
  padding: 11px 27px;
  margin-bottom: 112px;
  position: relative;
  z-index: 1;
}

/*axit_main_sacion_left*/

.axit_main_sacion_header_artical {
  font-family: 'Roboto' sans-serif;
  font-size: 60px;
}
.free {
  text-transform: uppercase;
  color: #ec7979;
}

/*axit_main_sacion_right*/

.axit_main_sacion_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  max-width: 370px;
  position: relative;
  z-index: 1;
  border-radius: 2%;
  margin-top: 111px;
}

.axit_main_sacion_right_header {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
  font-family: 'Open Sant' sans-serif;
  font-size: 20px;
  padding: 16px 0px 16px;
}

#axit_main_sacion_right_form {
  display: inline-block;
  width: 100%;
}

#axit_main_sacion_right_form_item {
  outline: none;
  margin: 0 auto;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  max-width: 263px;
  padding: 15px;
  padding-top: 38px;
  margin: 0px 59px;
}

#axit_main_sacion_right_form_bottom {
  outline: none;
  border: 0;
  border-radius: 2%;
  color: white;
  font-family: 'Open Sans' sans-serif;
  font-size: 15px;
  width: 100%;
  background-color: #ec7979;
  text-align: center;
  padding: 20px;
  margin-top: 41px;
}

/*FOOTER*/

.axit_footer_background {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.axit_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f8efef;
  margin: auto;
  width: 100%;
}

.axit_footer_text {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  margin: 14px 0px 17px 111px;
  /*width: 50%;

  /*margin: 14px 111px 17px;*/
}

.axit_footer_text_titel {
  display: inline-block;
  font-family: 'Open Sans' sans-serif;
  font-size: 1, 25rem;
  padding-bottom: 14px;
}
.axit_footer_text_text {
  display: inline-block;
  font-size: 0, 85rem;
  color: #bdbdbd;
  width: 365px;
  margin-right: 112px;
}

.axit_footer_nav {
  display: flex;
  justify-content: space-around;
  font-size: 4, 25rem;
  color: #bdbdbd;
  margin-right: 111px;
}

.axit_footer_nav_list_item {
  display: inline;
  margin-left: 25px;
  font-size: 2.125rem;
}

.instag {
  transition-duration: 2s;
}

.instag:hover {
  transform: rotate(45deg);
  color: red;
  transition-duration: 2s;
}

.facebook {
  transition-duration: 2s;
}
.facebook:hover {
  display: inline-block;
  transform: scale(2);
  color: blue;
  transition-duration: 2s;
}

.twitter:hover {
  position: relative;
  color: aqua;
  transform: rotate(360deg);
  transition-duration: 2s;
}

.stumbl:hover {
  transform: skew(5deg, 10deg);
  color: coral;
}

.wifi {
  transform-origin: top bottom;
  transition-duration: 2s;
}

.wifi:hover {
  transform: rotate(180deg);
  transition-duration: 2s;
}

.pinter:hover {
  transform: translate(-40px -100px);
}
