.axit {
  width: 100%;
  margin: auto;
  background-image: url('../img/background\ 1.png');
  background-color: tomato;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.axit::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.45);
}

/*HEADER*/

.axit_header {
  background-color: black;
  background-size: cover;
  z-index: 1;
  width: 100%;
}

.axit_header_item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  flex-direction: row;
  margin: auto;
  position: relative;
  padding: 20px 0px 20px;
  max-width: 1170px;
}

.axit_header_logo {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  z-index: 1;
}

.logo {
  color: #ec7979;
}

.axit_header_nav_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.axit_header_nav_list_item {
  display: inline-block;

  align-items: center;
  margin-left: 0;
  padding-left: 80px;
  z-index: 1;
}

.menu_link {
  color: white;
  z-index: 1;
  text-transform: capitalize;
}

.menu_link::after {
  content: '';
  display: block;
  border-bottom: 2px solid blue;
  width: 0%;
  transition: width 0.7s;
}

.menu_link:hover:after {
  width: 100%;
}

/*MAIN*/

.axit_main_all {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /*display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;*/
  margin: auto;
  position: relative;
  padding-bottom: 120px;
  /*width: 100%;*/
  max-width: 1170px;
}

.axit_main_sacion_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*margin-left: 111px;*/
}

.axit_main_sacion_header_artical {
  font-family: 'Roboto' sans-serif;
  font-size: 3, 75rem;
  color: white;
  text-transform: uppercase;
  margin: 109px 0px 34px;
  position: relative;
  z-index: 1;
}

.artical_color {
  color: #ec7979;
}

.axit_main_sacion_div_subartical {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 71px;
  position: relative;
  z-index: 1;
}

.axit_main_sacion_div_text {
  font-family: 14px;
  color: white;
  margin-bottom: 50px;
}

.axit_main_sacion_bottom_item {
  font-family: 'Open Sans' sans-serif;
  font-size: 15px;
  color: white;
  border: 1px solid white;
  padding: 11px 27px;
  margin-bottom: 112px;
  position: relative;
  z-index: 1;
}

/*axit_main_sacion_left*/

.axit_main_sacion_header_artical {
  font-family: 'Roboto' sans-serif;
  font-size: 60px;
}
.free {
  text-transform: uppercase;
  color: #ec7979;
}

/*axit_main_sacion_right*/

.axit_main_sacion_right {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  max-width: 370px;
  position: relative;
  z-index: 1;
  border-radius: 2%;
  margin-top: 111px;
}

.axit_main_sacion_right_header {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
  font-family: 'Open Sant' sans-serif;
  font-size: 20px;
  padding: 16px 0px 16px;
}

#axit_main_sacion_right_form {
  display: inline-block;
  width: 100%;
}

#axit_main_sacion_right_form_item {
  outline: none;
  margin: 0 auto;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  max-width: 263px;
  padding: 15px;
  padding-top: 38px;
  margin: 0px 59px;
}

#axit_main_sacion_right_form_bottom {
  outline: none;
  border: 0;
  border-radius: 2%;
  color: white;
  font-family: 'Open Sans' sans-serif;
  font-size: 15px;
  width: 100%;
  background-color: #ec7979;
  text-align: center;
  padding: 20px;
  margin-top: 41px;
}

/*FOOTER*/

.axit_footer {
  background-color: #f8efef;
  position: relative;
  margin: auto;
  z-index: 1;
}

.axit_footer_block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  flex-direction: row;
  background-color: #f8efef;
  margin: auto;
  z-index: 1;
  width: 100%;
  max-width: 1170px;
}

.axit_footer_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 14px 0px 17px 0px;
  z-index: 1;
}

.axit_footer_text_titel {
  display: inline-block;
  font-family: 'Open Sans' sans-serif;
  font-size: 1, 25rem;
  padding-bottom: 14px;
  z-index: 1;
}
.axit_footer_text_text {
  display: inline-block;
  font-size: 0, 85rem;
  color: #bdbdbd;
  z-index: 1;
}

.axit_footer_nav {
  display: flex;
  justify-content: space-around;
  font-size: 4, 25rem;
  color: #bdbdbd;
  /*margin-right: 111px;*/
}

.axit_footer_nav_list_item {
  display: inline;
  margin-left: 25px;
  font-size: 2.125rem;
  z-index: 1;
}

.instag {
  transition-duration: 2s;
}

.instag:hover {
  transform: rotate(45deg);
  color: red;
  transition-duration: 2s;
}

.facebook {
  transition-duration: 2s;
}
.facebook:hover {
  display: inline-block;
  transform: scale(2);
  color: blue;
  transition-duration: 2s;
}

.twitter:hover {
  position: relative;
  color: aqua;
  transform: rotate(360deg);
  transition-duration: 2s;
}

.stumbl:hover {
  transform: skew(5deg, 10deg);
  color: coral;
}

.wifi {
  transform-origin: top bottom;
  transition-duration: 2s;
}

.wifi:hover {
  transform: rotate(180deg);
  transition-duration: 2s;
}

.pinter:hover {
  transform: translate(-40px -100px);
}
