.axure_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.axure_titel {
  font-family: 'Raleway' sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 58px;
  position: relative;
  z-index: 1;
}

.axure_titel::after {
  content: '';
  background-color: #ffffff;
  width: 64px;
  height: 2px;
  display: block;
  align-items: center;
  margin: auto;
  margin-top: 34px;
  position: relative;
  z-index: 1;
}

.axure_text {
  font-family: 'Raleway' sans-serif;
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-top: 34px;
  color: #ffffff;
  padding-bottom: 68px;
  position: relative;
  z-index: 1;
}

.axure {
  background-image: url('../img/background\ 1.png');
  background-color: red;
  background-size: cover;
  /*width: 100%;*/
  display: flex;
  margin: auto;
  padding-bottom: 49px;
  position: relative;
}

.axure::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.55);
}

.axure_buttom_item {
  text-decoration: none;
  font-family: 'Open Sans' sans-serif;
  font-size: 15px;
  color: white;
  border: 3px solid #ffffff;
  padding: 11px 26px;
  display: block;
  text-align: center;
  align-items: center;
  margin: auto;
  width: 135px;
  position: relative;
  z-index: 1;
}
