.feautures {
  width: 100%;
  margin: auto;
}

.feautures_content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*align-items: center;*/
  max-width: 1170px;
  margin-top: 142px;
}

/*TAB*/

.feautures_content_tab {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 118px;
}

.feautures_content_tab_item {
  text-decoration: none;
  border: 1px solid black;
  padding: 24px 35px;
  margin: 10px;
  background-color: black;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.tab {
  color: white;
  text-align: center;
  margin: auto;
}

.pink {
  border: 0px;
  background-color: #ec7979;
}

/*Middel*/

.feautures_content_middel {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding-right: 50px;

  /*width: 33%;*/
}

.feautures_content_middel_titel {
  font-size: 15px;
  font-family: 'Open Sans' sans-serif;
  text-transform: uppercase;
  padding-bottom: 58px;
}
.feautures_content_middel_text {
  font-size: 14px;
  padding-bottom: 54px;
}

/*Pictures*/
