.feautures {
  width: 100%;
  margin: auto;
}

.feautures_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: center;*/
  max-width: 1170px;
  width: 100%;
  margin-top: 142px;
}

/*TAB*/

.feautures_content_tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-wrap: wrap;
  /* width: 10%;
  /*padding-right: 118px;*/
}

.feautures_content_tab_item {
  text-decoration: none;
  border: 1px solid black;
  padding: 30px 30px;

  background-color: black;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.tab {
  color: white;
  text-align: center;
  margin: 0 auto;
}

.feautures_content_tab_item:hover {
  background-color: #ec7979;
  border: 0;
}

/*Middel*/

.feautures_content_middel {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-content: flex-start;
  /*padding-right: 50px;*/
  width: 50%;

  /*width: 33%;*/
}

.feautures_content_middel_titel {
  font-size: 15px;
  font-family: 'Open Sans' sans-serif;
  text-transform: uppercase;
  padding-bottom: 58px;
}
.feautures_content_middel_text {
  font-size: 14px;
  padding-bottom: 54px;
}

.feautures_content_middel_buttom {
  display: flex;
  outline: none;
  color: white;
  font-size: 15px;
  background-color: #ec7979;
  padding: 15px 25px;
  border: 0;
}

.feautures_content_pictures {
  width: 30%;
}
/*Customer*/

.customer_flex {
  flex-direction: row;
}

.customer_flex_item_second_text {
  font-size: 10px;
}
