.footer {
  max-width: 100%;
  background-color: black;
}

.footer_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  position: relative;
}

.footer_main_icon_nav_item {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 30px 0 18px;
}

.footer_main_text {
  display: inline-block;
  text-align: center;
  color: white;
  padding-bottom: 18px;
}

.footer_main_icon_nav_list {
  display: inline-block;
  text-align: center;
  padding-right: 2vw;
}
