.pricing {
  background-color: #e5e5e5;
  background-size: cover;
  /* width: 100%;
  margin: auto;*/
}

/*titel*/
.pricing_titel {
  text-align: center;
  font-family: 'Raleway' sans-serif;
  font-size: 36px;
  color: #212121;
  text-transform: uppercase;
  padding: 80px 0px 36px;
}

.pricing_titel:after {
  content: '';
  height: 2px;
  width: 64px;
  display: block;
  margin: auto;
  margin-top: 34px;
  background-color: red;
}

.pricing_subtitel {
  font-family: Open Sans;
  size: 14px;
  text-align: center;
  color: #86878b;
  padding: 34px 0px 64px;
}

/*flex*/

.pricing_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding-bottom: 80px;
  width: 100%;
}

.pricing_flex_box {
  width: 30%;
}

.pricing_flex_box_titel {
  font-family: Open Sans;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  padding: 16px 132px;
  border-bottom: 2px solid #86878b;
}

.pricing_flex_box_subtitel {
  font-family: 'Raleway';
  padding: 26px 134px;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  color: white;
  background-color: #333333;
  border-bottom: 2px solid #86878b;
}

.pricing_flex_box_text1,
.pricing_flex_box_text3 {
  background-color: #333333;
}

.pricing_flex_box_text2 {
  background-color: #d98943;
}

.pricing_flex_box_text1,
.pricing_flex_box_text2,
.pricing_flex_box_text3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 17px 127px;
}

.pricing_flex_box_list_item {
  padding: 10px 123px;
  color: #86878b;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  list-style-type: none;
  border-bottom: 2px solid #e5e5e5;
}
