.pricing {
  height: 822px;
  background-color: #e5e5e5;
  background-size: cover;
}

/*titel*/
.pricing_titel {
  font-weight: normal;
  line-height: 42px;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  color: #212121;
  text-transform: uppercase;
  padding: 80px 0px 36px;
}

.border {
  border-bottom: 1px solid #e72424;
}

.pricing_subtitel {
  font-family: Open Sans;
  size: 14px;
  text-align: center;
  color: #86878b;
  padding: 34px 0px 64px;
}

/*flex*/

.pricing_flex {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 150px;
  align-content: center;
}

.pricing_box_titel {
  font-family: Open Sans;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #86878b;
}

.pricing_box_subtitel {
  font-family: 'Raleway';
  width: 340px;
  height: 100px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  color: white;
  background-color: #333333;
  border-bottom: 2px solid #86878b;
}

.pricing_box_text1,
.pricing_box_text3 {
  background-color: #333333;
}

.pricing_box_text2 {
  background-color: #d98943;
}

.pricing_box_text1,
.pricing_box_text2,
.pricing_box_text3 {
  width: 340px;
  height: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 19px;
  font-weight: 800;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pricing_box_item {
  width: 340px;
  height: 40px;
  color: #86878b;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  list-style-type: none;
  border-bottom: 2px solid #e5e5e5;
}
