@import url('feautures.css');
@import url('footer.css');
@import url('contact.css');
@import url('axit.css');
@import url('axure.css');
@import url('customer.css');
@import url('pricing.css');
@import url('awesome.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1200px) {
  .axit_main,
  .axit_footer_section,
  .axit_header_logo,
  .feautures_content_tab,
  .feautures_content_pictures {
    margin: 0 20px;
  }
}

@media (max-width: 1100px) {
  .axit_header_logo {
    display: none;
  }

  .axit_header_block {
    margin: auto;
    align-items: center;
    /*width: 90%;*/
  }
  .axit_main_all {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .axit_main_sacion_left {
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: auto;
  }

  .axit_main_sacion_right {
    width: 50%;
    margin: 50px auto;
  }

  /*pricing*/

  .pricing_flex {
    flex-direction: column;
  }

  .pricing_flex_box {
    padding-bottom: 30px;
  }
}

@media (max-width: 980px) {
  .axit_header_logo {
    display: none;
  }

  .axit_header_nav_list {
    font-size: 10px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-items: center;
  }

  .axit_header_nav_list_item {
    display: flex;
    align-items: center;
  }

  /*main*/

  .axit_main_sacion_right {
    width: 50%;
  }

  /*footer*/

  .axit_footer_block {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
  }

  .axit_footer_text {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .axit_footer_block {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  /*Feautures*/

  .feautures_content {
    flex-direction: column;
    
  }

  .feautures_content_tab {
    flex-direction: row;
    padding-bottom: 50px;
    justify-content: space-around;
    
    
  }

  .feautures_content_middel {
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin: auto;
    width: 90%;
  }
  .feautures_content_middel_buttom{
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 50px;
  }

  .feautures_content_all_pic{
    margin:0 auto;
  }

  /*awesome*/

  .flex-container {
    flex-direction: column;
  }
  .flex-container_sect {
    width: 80%;
    padding-bottom: 30px;
  }

  /*customer*/

  .customer_flex {
    display: flex;
    flex-direction: row;
  }

  .customer_flex_item {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .customer_flex_item_second {
    flex-direction: column;
    align-items: center;
  }

  .customer_flex_item_block {
    width: 75%;
  }

  /*contact*/

  #contact_main_form{
    flex-direction: column;
  }

  .contact_main_form_left, .contact_main_form_right{
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #contact_main_form_right_item{
    padding-bottom: 46px;
  }
}
  


@media (max-width: 720px) {
  .axit_main_sacion_right {
    width: 87%;
    margin: 50px auto;
  }

  .axit_main_sacion_right_header {
    font-size: 16px;
  }

  .axit_header_block {
    width: 100%;
  }

  #axit_main_sacion_right_form_item {
    padding-top: 30px;
  }

  .axit_main_sacion_right_clik {
    margin-top: 20px;
    padding: 18px;
  }

  .axit_main_sacion_div_subartical {
    font-size: 24px;
    width: 95%;
    text-align: center;
    
  }

  .axure_page{
    margin: auto;
    
    text-align: center;
    width: 90%;
  }

  .contact_header{
    margin: auto;
    
    text-align: center;
    width: 90%;
  }


@media (min-width: 320px) {
  .feautures_content_tab_item{
    padding: 20px 20px;
  }

  .pricing_flex{
    margin: auto;
    width: 85%;
  }

  .pricing_flex_box_list_item{
    padding: 10px 90px;
  }

  .customer_subtitel{
    width: 80%;
    margin: auto;
  }
}
