@import url('axit.css');
@import url('axure.css');
@import url('customer.css');
@import url('pricing.css');
@import url('awesome.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Raleway', 'Open Sans', sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}
